$font-size-basic: 16px;
$color-font-black: black;
$color-font-white: white;
$color-font-gray: rgb(226, 207, 207);

$color-1: #ffae00;
$color-2: #634a00;
$color-3: #383416;
$color-4: #0c7d74;
$color-5: #0f353d;
$color-6: #ff5a33;
