$font-size-basic: 16px;
$color-font-black: black;
$color-font-white: white;
$color-font-gray: rgb(226, 207, 207);

$color-1: #ffae00;
$color-2: #634a00;
$color-3: #383416;
$color-4: #0c7d74;
$color-5: #0f353d;
$color-6: #ff5a33;

$Tropical-Fruit-Punch-1-hex: #146152;
$Tropical-Fruit-Punch-2-hex: #44803f;
$Tropical-Fruit-Punch-3-hex: #b4cf66;
$Tropical-Fruit-Punch-4-hex: #ffec5c;
$Tropical-Fruit-Punch-5-hex: #ff5a33;

$Mangolishies-1-hex: #ffae00;
$Mangolishies-2-hex: #634a00;
$Mangolishies-3-hex: #383416;
$Mangolishies-4-hex: #0c7d74;
$Mangolishies-5-hex: #0f353d;
