* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: $font-size-basic;
  color: $color-font;
  font-family: "Roboto", sans-serif;
}
a {
  color: $color-font;
  text-decoration: none;
}
