.articles {
  &__button {
    @include button($color-font-black, $color-1);
    position: absolute;
    top: 60px;
    right: 20px;
  }

  &__title {
    text-align: center;
    margin: 20px 0;
    color: $color-font-white;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
