.login {
  @include flex-center;
  @include flex-center-page;
  gap: 10px;

  &__title {
    color: $color-font-white;
  }

  &__form {
    @extend .form;
    width: 400px;
    height: 400px;
  }

  &__label {
    @extend .label;
  }

  &__input {
    @extend .input;
  }

  &__error {
    @extend .error;
  }

  &__submit {
    @extend .submit;
  }

  &__question {
    @extend .question;
  }

  &__redirect {
    @extend .redirect;
  }
}
